@model AdimRic841PipingCharVV.Models.FunctionalLocationModel


<tr>
    <td>@Model.LocationId</td>
    <td>@Model.Unit</td>
    <td>@Model.BusinesssArea</td>
    <td>@Model.ApiPipeClass</td>
    <td>@Model.RefineryPipeClass</td>
    <td>@Model.PipingMaterial</td>
</tr>
